@model dynamic

@{
    ViewBag.Title = "Blueprints Notes Application";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Blueprints Notes Application</h2>
<p>The most amazing notes application you'll ever see!</p>